@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background-image: url(/assets/paper-texture.jpg); */
}

main {
  height: 100%;
  max-height: 100%;
}

.Hotspot {
  background-color: #ffffffb2;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
}

.hotspotContent {
  display: none;
  font-weight: 100;
}

.active {
  background-color: white;
}

.annotationPanel > .active > .hotspotContent {
  display: block !important;
}

.annotationPanel .Hotspot {
  width: 100%;
  max-width: 100%;
  transform: none;
  position: relative;
}

.annotationPanel img {
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.painting-main {
    background: #ffffff;
    /* background-image: url(/assets/paper-texture.jpg); */
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width :30px;
  height: 30px;
}
.mousey {
  width: 3px;
  padding: 5px 8px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  70% {  opacity: 1; }
  100% { transform: translateY(8px); opacity: 0;}
}

@keyframes myping {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
}

.animate-myping {
  animation-name: myping;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

.st0 {
  fill: transparent;
  stroke: none;
}

.myPath {
  fill: transparent;
  stroke: none;
}

.myPath:hover { 
  /* stroke: rgb(193, 38, 38); */
  fill: rgba(220, 220, 220, 0.247) !important;
  cursor: pointer;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.fade-stroke-animation {
  /* stroke: rgb(223, 164, 76);
  stroke-width: 1px; */
  animation: fillBreathing 2s ease-in-out forwards;
}

.fade-stroke-animation > path {
  /* stroke: rgb(223, 164, 76);
  stroke-width: 1px; */
  animation: fillBreathing 2s ease-in-out forwards;
}

@keyframes fillBreathing {
  0% {
    fill: rgba(0, 0, 0, 0); /* White */
  }
  50% {
    fill: rgba(226, 226, 226, 0.68); /* Transparent */
  }
  100% {
    fill: rgba(0, 0, 0, 0); /* White */
  }
}